
html,
body {
    background-color: #242424;
    color: #fff;
    font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    font-style: normal;
    text-align: center;
}

.content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 100px;
}

.search-container input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.search-container button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: #333;
    transition: background-color 0.3s ease;
}


.previous-searches {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.previous-searches-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    max-width: 400px;
}

.previous-searches-list li {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    background-color: #000;
    margin-bottom: 20px;
}


.images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.image-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.images-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Media Queries para Responsive */
@media (min-width: 768px) {
    .images-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media (min-width: 1024px) {
    .images-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}

@media (min-width: 1280px) {
    .images-container {
        grid-template-columns: repeat(5, 1fr);
        gap: 40px;
    }
}